/*CADASTRO DE FRAMES*/
@keyframes flamengo {
  0% {background-color: black;}
  40% {background-color: white;}
  100% {background-color: green;}
}

div{
  width: 200px;
  height: 300px;
  /*Chamar a animação*/
  animation-name: flamengo;
  animation-duration: 2s;

  /*Animação só começa depois de tempo X*/
  animation-delay: 3s;

  /*Animação em loop*/
  animation-iteration-count: infinite;
}